RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Allow access to public renders directory
RewriteRule ^public/renders/(.*)$ public/renders/$1 [L]